name: cross_compile

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Build
        run: bash .cross_compile.sh

      - name: Uploading assets
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GO_ACTION_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: diss/aes_darwin_amd64
          asset_name: aes_darwin_amd64
